.testimonial{
     margin: 10px auto;
     padding: 0 80px;
     position: relative;
     display: flex;
     align-self:center;
     justify-content: center;
     max-width: 100vh;
     padding: 20px;
}

.slide img{
    border-radius: 50%;
    width: 75px;
}
.slide img{
    margin-top: 30px;
}
/* media querry */

@media(max-width:625px){
    .slider ul li{
        list-style: none;
        width: 50%;
        padding: 30px;
    }
}